
.background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.image{
    position: absolute;
    top: 200px;
    left: 150px;
    width: 45%; /* 图片宽度自适应其容器 */
    height: auto;
}
.container {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.container label {
    display: inline-block;
    width: 20%;
    text-align: left;
}

.phone-input-wrapper {
    display: flex;
    align-items: center;
}

.phone-input-wrapper input[type="button"] {
    margin-left: 10px;
}

input[type="text"], input[type="tel"], input[type="password"] {
    width: 40%;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], input[type="button"] {
    width: 80px;
    height: 44px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[name="info"] {
    width: 80px;
    height: 40px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="submit"][disabled], input[type="button"][disabled] {
    background-color: gray;
}

.is-invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
}

.submit-message {
    font-size: 14px;
    color: green;
}

.countdown-span {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    line-height: 30px;
    vertical-align: middle;
}

.actions {
    display: flex;
    justify-content : left;
    align-items: center;
    margin-top: 10px;
}

.button {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button:last-child {
    margin-right: 0;
}
.button:hover {
    background-color: #0056b3;
}

.is-invalid {
    border-color: red;
}

.input-group-text {
    background-color: #007bff; /* 更新背景颜色 */
    color: white; /* 设置文字颜色 */
    width: 100px;
    margin: 10px;
}