/* 全局字体和边距 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* 背景样式 */
.background {
    left: 0;
    top: 0;
    background-size: cover;
    background-image: url('@/assets/photos/LostForm.png'); /* 指定图片路径 */
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    position: absolute;
}


/* 通用容器样式 */
.container {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 30px 30px 20px 30px;
    box-shadow: 0 0 10px;
    text-align: center;
}
.form-check-label{
    padding: 0;
}
.input-group-prepend{
    padding: 10px 10px;
}
.form-control{
    padding: 20px 10px;
}
/* 设置输入框的字体颜色 */
input[type="text"],
input[type="password"] {
    color: #333333; /* 深灰色 */
    width: 120px;
    height: 50px;
    padding: 30px;
}

/* 设置按钮的文字颜色 */
input[type="submit"] {
    color: white; /* 白色 */
}
input[type="file"]{
    height: 2px;
    padding: 30px 20px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

span {
    width: 120px;
    height: 50px;
    color: #ffffff ; /* 深灰色 */
    font-size: 16px; /* 设置字体大小为16px */
    margin: 0;
}
/* 容器样式，确保内部元素垂直对齐 */
.input-group {
    display: flex;
    align-items: center; /* 对齐子元素到中心线 */
    margin-bottom: 10px; /* 底部外边距 */
}

/* 输入框样式 */
input[type="text"],
input[type="password"],
.form-control {
    flex-grow: 1; /* 允许输入框填充剩余空间 */
    padding: 10px; /* 内部填充 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 圆角 */
    line-height: normal; /* 行高 */
}

/* 标签样式 */
.input-group span {
    margin-right: 10px; /* 右边距，与输入框分开 */
    white-space: nowrap; /* 防止文本折行 */
    padding: 10px 0; /* 上下填充，根据需要调整 */
}


/* 更新 .input-group span 样式 */
.input-group span {
    margin-right: 10px; /* 与输入框之间的间隔 */
    padding: 10px; /* 增加上下内边距以帮助居中 */
    display: flex; /* 使用弹性盒模型 */
    align-items: center; /* 垂直居中对齐内容 */
    justify-content: center; /* 水平居中对齐内容 */
    height: 50px; /* 确保和 input 高度一致 */
    white-space: nowrap; /* 防止文本换行 */
}
input[type="button"] {
    width: 100px;  /* 设置宽度 */
    padding: 10px 0; /* 增加垂直填充，使按钮更易点击 */
    background-color: #007bff; /* 设定一个蓝色背景 */
    color: white; /* 设定按钮文字颜色为白色 */
    border: none; /* 移除边框 */
    border-radius: 5px; /* 添加圆角 */
    cursor: pointer; /* 鼠标悬停时显示指针，增加用户交互性 */
    transition: background-color 0.3s ease; /* 平滑的背景色过渡效果 */
}

input[type="button"]:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景色变深 */
}
